.MyInput {
  border: none;
  margin-top: 40px;
  max-width: 400px;
  width: 90%;
  border-bottom: 1px solid black;
  font-size: 54px;
  outline: none;
}
@media screen and (max-width: 576px) {
  .MyInput {
    width: 100%;
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .MyInput {
    font-size: 34px;
  }
}
